// Custom bootstrap scss (https://getbootstrap.com/docs/4.0/getting-started/theming)
$theme-colors: (
  'primary': #05978b,
  'secondary': #6c757d,
  'dark': #000000,
);

@import 'node_modules/bootstrap/scss/bootstrap';

.btn-primary {
  color: $light;
  font-weight: 400;
}

.page-link {
  color: $secondary;
}

// App specific css
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.datepicker {
  border-radius: 0.25rem 0 0 0.25rem;
}
